// COLOR VARIABLES

$color-primary : #431596;
$color-secondary : #2B0F60;
$color-tertiary : #3943B7;
$color-quaternary :#26F0F1;
$color-quintary : #EEFC57;
$color-animation-1 :#b77dfb;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

// FONT VARIABLES 
$font-primary: 'Roboto', sans-serif;
$font-display: 'Rubik', sans-serif;
