@import "../abstracts/variables";
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap:3rem;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    background: linear-gradient(to top, $color-primary, $color-animation-2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:10rem 0 5rem;
    
    &__left{
        @include span-degraded;
    }
    &__rigth{
        padding:0 5rem;
        &>span{
            @include span-degraded;
        }

    }
}