@import "../abstracts/mixins";

.header{
    font-size: 2.5rem;
    height: 100vh;
    color: $color-grey-light-1;
    background-repeat: no-repeat; 
    background-image: 
                linear-gradient(rgba($color-primary,.90),rgba($color-secondary,.90));
    background-size: contain;
    background-position:center;
    position: relative;
    
    img{
        z-index: -1;
        position: absolute;
        left: -10rem;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 40rem;
        height: 60rem;
    }
    
}
svg{
    position: absolute;
    bottom: 0;
    
}

.navigation{
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;

    &__logo{

        font-size: 4rem;
        font-weight: bold;
        @include span-degraded;
    }
    

    &__list{
        margin: auto 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        column-gap: 5rem;
        padding-left:10%;

        &--anchor{
            text-decoration: none;
            color: $color-grey-light-1;
            position: relative;
            
            &:after{
                position: absolute;
                content: "";
                display: block;
                width: 0;
                height: 1.5px;
                background-color: $color-quaternary;
                transition: all .3s;
            }
            &:hover:after{
                width: 100%;
            }
            &:hover{
                color: $color-quaternary;
            }
        }
        
    }
}
.section{
    text-align: center;
    margin:12.5vh;
    
    &__title{
        font-size: 5rem;
        margin-bottom: 5rem;
        font-weight: 900;
        padding-bottom: 5rem;

        &>span{
            @include span-degraded;
        }
    }
    
}
.btn{
    color: $color-secondary;
    position: relative;
}
