.information{
    &__top,&__bottom{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
        grid-gap: 1rem;
        margin: 2rem;
        padding-top: 1rem;
    }
    &__text{
        margin:auto;
        text-align: center;
    }
    &__img{
        width:300px;
        height: 300px;
        margin: auto;
    }
}